/dist
/node_modules

.env
docker-compose.yml


# Ignore RAG collection folders
uploads/rag/*collection/
uploads/rag/*collection

# Ignore room content folders
uploads/rooms/
uploads/rooms

# Ignore Web-App content files and folders
uploads/clients/web/*